h1{
    text-transform: capitalize;
    text-decoration: line-through;
    text-shadow: 130px;
    text-align: center;
    line-height: 10;
    letter-spacing: 0.3cap;
    word-spacing: 2cap;
}
h2{
    text-transform: lowercase;
    text-decoration: underline;
    text-shadow: 100px;
    text-align: right;
    line-height: normal;
    letter-spacing:0.4ch;
    word-spacing: 2ch;
    
 

}
h3{
    text-transform: none;
    text-decoration: none;
    text-shadow: none;
    text-align: none;
    line-height:normal;
    letter-spacing: normal;
    word-spacing: 2cm;
}
h4{
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 3px;
    text-align: left;
    line-height: 10cap;
    letter-spacing: 0.7cqb;
    word-spacing: 3cqb;
}
*{
    background-color: brown;
}