body {
    margin: 0;
    overflow: hidden;
}
.container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: lightgray;
}
.rectangle {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: blue;
}