/* ბაზის ფონტი */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1, h2 {
    font-family: 'Lora', serif;
    color: #2C3E50;
  }
  
  /* Header სტილი */
  header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #f39c12;
  }
  
  /* Content სტილი */
  .main-content {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-content p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
  }
  