.grid-container {
    display: grid;
    grid-template-areas: 
      "hero hero 3"
      "5 5 4"
      "6 7 8"
      "9 9 9";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
  
  .item {
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .hero {
    background: linear-gradient(135deg, #ff0080, #ff8a00);
    grid-area: hero;
  }
  